.content-top {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #CCCCCC;
    border-top: 1px solid #B1B1B1;
    margin-bottom: 20px;
}

.content-top .content-top-item {
    padding: 0 30px 0 30px;
    height: 40px;
    line-height: 40px;
    align-items: center;
    opacity: .5;
    cursor: pointer;
}

.content-top-item-active {
    border-top: 2px solid #0DD469;
    background-color: white;
    color: #0DD469;
    opacity: 1!important;
}

.l-center {
    text-align: center;
}

.l-border {
    border: 1px solid #ccc;
}

.l-border tr .hov:hover {
    cursor: pointer;
    background-color: #ccc;
}

.m-dialog {
    position: static;
}

.m-dialog .dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 999;
    opacity: .5;
}

.m-dialog .dialog-content {
    position: absolute;
    width: 910px;
    height: 500px;
    background-color: #F5F5F5;
    z-index: 1000;
    /* top: calc(50% - 139px);
    left: calc(50% - 534px); */
    padding: 24px;
    border-radius: 5px;
    position: fixed;
    /* top: 5px; */
    /* width: 100px; */
    overflow: auto;
    /* height: 100%; */
}

.l-margin-bottom {
    line-height: 30px;
}

.l-mg-left {
    margin-left: 30px;
}

.m-dialog .dialog-content .dialog-header-close button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 0 0;
    background-image: url(../../../../assets/sv/imgs/ic_close_16.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    opacity: .7;
}

.dialog-header-close button:hover {
    background-color: transparent;
}


/* dialog header ************************************************************/

.dialog-header-close button:hover {
    background-color: transparent;
}

.dialog-header-title {
    font-size: 20px;
    font-weight: bold;
}

.m-dialog .dialog-content .dialog-header {
    display: flex;
}

.m-dialog .dialog-content .dialog-header-close {
    position: absolute;
    right: 0;
    top: 0;
}

.m-dialog .dialog-content .dialog-header-close:hover {
    border-radius: 5px;
}