.item-ac {
    background-color: #4682B4;
    color: #03AE66;
}

.navbar {
    position: relative;
    float: left;
    width: 220px;
    height: 100vh;
    background-color: #099F75;
    border-right: 1px solid #BBBBBB;
}

.nav-item {
    color: #EEEEEE;
}

.navbar .logo-site {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 16px;
    color: #EEEEEE;
    font-size: 16px;
    font-weight: bold;
}

.navbar .logo-site .toggle {
    background-image: url(../../icons/hamburger-menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 40px;
    width: 20px;
    height: 35px;
    background-position: center;
}

.navbar .logo-site .logo {
    background-image: url('../../../sv/imgs/logoutehy.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 44px;
    height: 33px;
    background-position: 5px center;
}

.navbar .nav-content {
    width: 100%;
}

.navbar .nav-content .nav-item {
    display: flex;
    padding-left: 16px;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
}

.navbar .nav-content .nav-item .nav-item-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar .nav-content .nav-item:hover {
    background-color: #E5F3FF;
    color: #03AE66;
}

.nav-item-overview {
    background-image: url(../../icons/ic_TongQuan_32.svg);
}

.nav-item-setplan {
    background-image: url(../../icons/ic_LapKeHoachThu_32.svg);
}

.nav-item-withdraw {
    background-image: url(../../icons/ic_QuanLyThu_32.svg);
}

.nav-item-invoices {
    background-image: url(../../icons/ic_HoaDon_32.svg);
}

.nav-item-collectionAndPayment {
    background-image: url(../../icons/ic_SoThu_32.svg);
}

.nav-item-report {
    background-image: url(../../icons/ic_BaoCao_32.svg);
}

.nav-item-message {
    background-image: url(../../icons/ic_TinNhan_32.svg);
}

.nav-item-system {
    background-image: url(../../icons/ic_HeThong_32.svg);
}